#### Exercício 03 – Manipulando dados com Pandas


a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e

b) coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

In [5]:
 # Inportar a biblioteca
import pandas as pd

# Mapear o diretório e o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\'
arquivo = 'Vendas.xlsx'

# Atribuir os dados a um Dataframe

df = pd.read_excel(caminho + arquivo, sheet_name='Planilha1')

# Visualizar os cabeçalhos

df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

d) Visualize as últimas linhas;

In [6]:
df.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

e) Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [7]:
df.columns = ['Data','Vendedor','Cargo','cliente',
           'Uf','Vendas'
]
df.head()

        Data           Vendedor                    Cargo cliente  Uf   Vendas
0 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AL  3276.20
1 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  AP  3005.86
2 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MA  8568.54
3 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MG  1344.27
4 2014-01-01  Bernardo de Sousa  Supervisor de Vendas Pl    ACME  MS  7585.04

g) Quais são os tipos de dados que temos no dataframe?

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   cliente   130466 non-null  object
 4   Uf        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

h) Há valores faltantes ou nulos?

In [12]:
df.isnul()

         Data  Vendedor  Cargo  cliente     Uf  Vendas
0       False     False  False    False  False   False
1       False     False  False    False  False   False
2       False     False  False    False  False   False
3       False     False  False    False  False   False
4       False     False  False    False  False   False
...       ...       ...    ...      ...    ...     ...
130461  False     False  False    False  False   False
130462  False     False  False    False  False   False
130463  False     False  False    False  False   False
130464  False     False  False    False  False   False
130465  False     False  False    False  False   False

[130466 rows x 6 columns]

In [17]:
# Identificar quais registros são nulos

df['Vendas'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
130461    False
130462    False
130463    False
130464    False
130465    False
Name: Vendas, Length: 130466, dtype: bool

In [18]:
# Quantificar os elementos nulos

df['Vendas'].isnull().sum()

0

i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [20]:
print('O valor total da coluna vendas é:',df['Vendas'].sum())

print('A média da coluna Vendas é:',df['Vendas'].mean())

print('O maior valor da coluna Vendas é:', df['Vendas'].max())

print('O menor valor da coluna Vendas é:', df['Vendas'].count())

O valor total da coluna vendas é: 718501609.25
A média da coluna Vendas é: 5507.194282418408
O maior valor da coluna Vendas é: 10000.0
O menor valor da coluna Vendas é: 130466

j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e
salvar um arquivo em csv para com o nome de cada cargo:

In [21]:
df['Vendas']

0         3276.20
1         3005.86
2         8568.54
3         1344.27
4         7585.04
           ...
130461    1829.39
130462    2378.48
130463    4488.47
130464    1543.66
130465    9820.71
Name: Vendas, Length: 130466, dtype: float64

Supervisor de Vendas Pl

In [23]:
# Filtrar as vendas de acordo com o cargo

df[df['Cargo'] == 'Supervisor de Vendas Pl']

,Data,Vendedor,Cargo,cliente,Uf,Vendas
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04
...,...,...,...,...,...,...
130378,2016-12-31,Bernardo de Sousa,Supervisor de Vendas Pl,Umbrella Corporation,PA,2740.70
130379,2016-12-31,Bernardo de Sousa,Supervisor de Vendas Pl,Umbrella Corporation,PE,3274.59
130380,2016-12-31,Bernardo de Sousa,Supervisor de Vendas Pl,Umbrella Corporation,RN,3879.86
130381,2016-12-31,Bernardo de Sousa,Supervisor de Vendas Pl,Umbrella Corporation,RO,2930.09
130382,2016-12-31,Bernardo de Sousa,Supervisor de Vendas Pl,Umbrella Corporation,SE,1291.63

Supervisor de Vendas Pl

In [26]:
dados = df[df['Cargo'] == 'Supervisor de Vendas Pl']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Supervisor de Vendas PL.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Gerente Regional Jr.

In [28]:
dados = df[df['Cargo'] == 'Gerente Regional Jr']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Gerente Regional Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Supervisor de Vendas Sr

In [29]:
dados = df[df['Cargo'] == 'Supervisor de Vendas Sr']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Supervisor de Vendas Sr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Coordenador de Vendas Pl

In [30]:
dados = df[df['Cargo'] == 'Coordenador de Vendas Pl']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Coordenador de Vendas Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Vendedor Jr.

In [31]:
dados = df[df['Cargo'] == 'Vendedor Jr']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Vendedor Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Vendedor Sr.

In [32]:
dados = df[df['Cargo'] == 'Vendedor Sr.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Vendedor Sr..csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Vendedor Pl.

In [33]:
dados = df[df['Cargo'] == 'Vendedor Pl.']

# Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Vendedor Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Gerente Regional Pl.

In [34]:
dados = df[df['Cargo'] ==' Gerente Regional Pl.']

  # Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Gerente Regional Pl.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Coordenador de Vendas Sr.

In [35]:
dados = df[df['Cargo'] =='Coordenador de Vendas Sr.']

  # Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Coordenador de Vendas Sr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Coordenador de Vendas Jr.

In [36]:
dados = df[df['Cargo'] =='Coordenador de Vendas Jr.']

  # Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Coordenador de Vendas Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

Supervisor de Vendas Jr.

In [37]:
dados = df[df['Cargo'] =='Supervisor de Vendas Jr.']

  # Pasta para salvar o arquivo

caminho = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\relatorio por cargo\\'
arquivo = 'Supervisor de Vendas Jr.csv'

# Salvar o arquivo no diretório

dados.to_csv(caminho + arquivo)

9. Crie um dataframe para cada coluna, contendo dados únicos.

In [38]:
df['Cargo']

# Registros totais

0         Supervisor de Vendas Pl
1         Supervisor de Vendas Pl
2         Supervisor de Vendas Pl
3         Supervisor de Vendas Pl
4         Supervisor de Vendas Pl
                   ...
130461               Vendedor Pl.
130462               Vendedor Pl.
130463               Vendedor Pl.
130464               Vendedor Pl.
130465               Vendedor Pl.
Name: Cargo, Length: 130466, dtype: object

In [39]:
dados_cargos = df['Cargo']

dados_cargos.head()

0    Supervisor de Vendas Pl
1    Supervisor de Vendas Pl
2    Supervisor de Vendas Pl
3    Supervisor de Vendas Pl
4    Supervisor de Vendas Pl
Name: Cargo, dtype: object

In [41]:
# Mostra quabtidade de elmentos

dados_cargos = df['Cargo']

dados_cargos.count()

130466

In [45]:
# Criar um dataframe apenas coma coluna Cargo

dados_cargos = df['Cargo']

# Contar quantos elementos existem antes de remover as duplicadas

dados_cargos.count()

# Criar um novo dataframe sem duplicadas

dados_cargos = data_cargos.drop_duplicates()

# Contar quantos elementos ficarem após a remoção das duplicadas
dados_cargos.count()

dados_cargos

AttributeError: 'str' object has no attribute 'drop_duplicates'