### LISTA DE EXERCÍCIO 06 – MANIPULANDO DADOS COM

PANDAS (PARTE 2)

## Exercício 01 – Operações com Pandas
a) Abra o arquivo World Happiness.

In [100]:
# Importando a biblioteca Pandas

import pandas as pd 

# Mapear o caminho e nome do documento

path = 'C:\\Users\\FIC\\Documents\\Luiz Antonio Python\\003 - Arquivos\\'
file = 'world_happiness_report_2015.csv'

In [101]:
# Abrir o arquivo

df = pd.read_csv(path + file)

In [102]:
# cabeçalho do dataframe
df.head()

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [103]:
import pandas as pd

## b) Qual a média do score_felicidade?

In [104]:
df['happiness score']

0      7.587
1      7.561
2      7.527
3      7.522
4      7.427
       ...
159    3.465
160    3.340
161    3.006
162    2.905
163    2.839
Name: happiness score, Length: 164, dtype: float64

In [105]:
media= df['happiness score'].mean()

# A função round tarta a quantidade de números após a virgula

round(media,3)

5.424

In [106]:
print(' A média da coluna happiness score é', media)

 A média da coluna happiness score é 5.424487179487179

## c) Qual a soma do PIB?

In [107]:
soma = df['economy (GDP per Capita)'].sum()

print('A soma da coluna PIB é:', soma)

A soma da coluna PIB é: 141.37172

### d) Qual a soma do freedom e corrupção?

In [108]:
df[['freedom','trust (Government Corruption)']].sum()

freedom                          71.33320
trust (Government Corruption)    24.59645
dtype: float64

## e) Há dados duplicados? Quantos? Verifique quais são eles?

In [109]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
159    False
160    False
161    False
162    False
163    False
Length: 164, dtype: bool

In [110]:
df.duplicated

<bound method DataFrame.duplicated of          country                           region  happiness rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
159       Rwanda               Sub-Saharan Africa             154
160        Benin               Sub-Saharan Africa             155
161        Syria  Middle East and Northern Africa             156
162      Burundi               Sub-Saharan Africa             157
163         Togo               Sub-Saharan Africa             158

     happiness score  standard error  economy (GDP per Capita)   family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
159            3.465         0.03464                   0.22208  0.77370
160            3.340             NaN                   0.28665  0.35386
161            3.006         0.05015                   0.66320  0.47489
162            2.905         0.08658                   0.01530  0.41587
163            2.839         0.06727                   0.20868  0.13995

     health (Life Expectancy)  freedom  trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
159                   0.42864  0.59201                        0.55191
160                   0.31910  0.48450                        0.08010
161                   0.72193  0.15684                        0.18906
162                   0.22396  0.11850                        0.10062
163                   0.28443  0.36453                        0.10731

     generosity  dystopia residual
0       0.29678            2.51738
1       0.43630            2.70201
2       0.34139            2.49204
3       0.34699            2.46531
4       0.45811            2.45176
..          ...                ...
159     0.22628            0.67042
160     0.18260                NaN
161     0.47179            0.32858
162     0.19727                NaN
163     0.16681                NaN

[164 rows x 12 columns]>

In [111]:
# Quantidae de elementos duplicados

df.duplicated().sum()

6

In [112]:
# Quais são os registros duplicados?
df[df.duplicated()==True]

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

### f) Verifique a quantidade de dados faltantes.

In [113]:
# Exibir a quantidade de informações nulas nos campos da tabela

df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

#### g) Crie um dataframe onde os valores faltantes de score_felicidade sejam
substituídos por -9999.

In [114]:
df.loc[:,['happiness score']].fillna(-9999)

df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   8
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

In [115]:
# O comando df.loc esta selecionado todas as linhas (:) da coluna happiness score
# e então os nulos são substituidos por -9999

df.loc[:,['happiness score']] = df.loc[:,['happiness score']].fillna(-9999)


df.isnull().sum()

country                           0
region                            0
happiness rank                    0
happiness score                   0
standard error                    1
economy (GDP per Capita)          0
family                            0
health (Life Expectancy)          0
freedom                           0
trust (Government Corruption)     0
generosity                        0
dystopia residual                14
dtype: int64

### h) Quantas e quais são as regiões existentes nos dados?

In [116]:
# Calcula a quantidade de registros duplicados.

df.region.duplicated().sum()

154

In [122]:
# Remove a duplicadas e inseri em um novo dataframe

df.region = df.region.drop_duplicates()

In [121]:
import pandas as pd

In [125]:
# Calcular a quantidade de regiões únicas
df_region.count()

NameError: name 'df_region' is not defined

In [124]:
df_region

NameError: name 'df_region' is not defined

In [ ]:
df.region.value_counts()

Western Europe                     1
North America                      1
Australia and New Zealand          1
Middle East and Northern Africa    1
Latin America and Caribbean        1
Southeastern Asia                  1
Central and Eastern Europe         1
Eastern Asia                       1
Sub-Saharan Africa                 1
Southern Asia                      1
Name: region, dtype: int64

## i) Verifique a frequência dos dados segundo suas regiões. Qual a região com maior
quantidade de dados? E a região com a menor quantidade?